ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #99A1AF;
		display: flex;
	}
	li a {
		text-align: center;
		border-bottom: 1px solid #555555;
		display: block;
		color: black;
		padding: 8px 16px;
		text-decoration: none;
	}

/* Change the link and background color on hover */
	li a:hover {
		background-color: #555555;
		color: white;
	}
    body {
		background-color: powderblue;
    }
    h1 {
		background-color: green;
    } 
	div{
		word-wrap: normal;
		width:1000px;
		
		margin:auto;
	}
	.skillholder{
		display:flex;
	}
	p{
		word-wrap: normal
	}