/*stylizing for nav bar. gray background, and black lettering. dark gray hover with wither lettering. black for the active tab with white lettering*/
ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #99A1AF;
		display: flex;
}
li a {/*set color and sizes for each nav bar option*/
		text-align: center;
		border-bottom: 1px solid #555555;
		display: block;
		color: black;
		padding: 8px 16px;
		text-decoration: none;
}
li.active a {
    background-color: black; 
    color: white; 
}
li a:hover {
		background-color: #555555;
		color: white;
}
/*main body of each bacge is a light blue background*/
body {
	background-color: #b8dbd9;
}
h1.header {
	background-color: #586f7c;
} 
div.atrib_container{
	word-wrap: normal;
	display:flex;
	display: flex; /* Enables flexbox layout */
    flex-wrap: wrap;
}
p{
	word-wrap: normal
}
.atrib_block{
margin :5px;
background-color: #586f7c;
justify-content: center;
text-align: center;
width:15vw;
	margin-left: auto; /* Centers horizontally */
margin-right: auto;/* Centers horizontally */
}
.center-img{
display: block;
margin-left: auto; /* Centers horizontally */
margin-right: auto;/* Centers horizontally */
width: 40%;  
}